@import "vars";

.blog {
  margin: 70px 0 86px;
  .blog__title {
    position: relative;
    padding: 28px 0 32px;
    margin: 60px 0;
  }

  .blog__title::before {
    position: absolute;
    content: "";
    top: 0;
    left: 600px;
    width: 115px;
    border: 3px solid $accent;
  }

  .blog__title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 600px;
    width: 115px;
    border: 3px solid $accent;
  }

  .blog__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .blog__item {
    width: 540px;
    height: 594px;

    .blog__item-title {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      text-transform: capitalize;
      color: $accent;
    }

    .blog__item-details {
      position: relative;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: $dark;
    }

    .blog__item-span {
      position: relative;
      padding-right: 40px;
    }

    .blog__item-span::before {
      position: absolute;
      right: 20px;
      content: "";
      height: 20px;
      border: 1px solid $dark;
    }

    .blog__item-leed {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: $dark;
    }

    .blog__item-link {
      color: $black;
      border: 1px solid $dark;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 4px 25px;
    }

    .blog__item-link:hover {
      color: $light;
      background-color: $accent;
    }
  }
}
