@import "vars";

.footer {
  background-image: url("../images/Mask\ footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 157px;

  .footer__title {
    font-family: $secondary-font;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: $light;
    padding: 65px 0;
  }
}
