@import "vars";

.section-title {
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: $dark;
  text-align: center;
}
